.qora{
    background-color: rgb(48, 48, 48);
}
.h{
    color: white;
    text-align: center;
}
.B{
    height: 30px; width: 20px;
    background-color: white;
    color:black;
}
.I{
    background-color: rgb(42, 42, 42);
}
.f{
    background-color: rgb(75, 75, 75);
    color: white;
}
.iphone-16-pro{
    width: 1500px;
    height: 500px;
}